@charset "UTF-8";
#conteudo {
    max-width: 97vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.18) 0px 2px 16px 0px;
    margin: 100px auto;
}

#conteudo img {
    max-width: 100%;
    height: auto;
}

h3.home {
    color: #DB472F;
}

p {
    color: #333;
}
