@charset "UTF-8";

/* Importe a fonte */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root{
    --cor0: #c5ebd6;
    --cor1: #DB472F;
    --cor-conteudo: #fcf7f6;
    --cor-navbar-condensada: #9C514F;
    --cor-navbar-hover: #833424;
    --cor-navbar: #DB6163;
    --cor-aside-lateral: #db84726e;

    --fonte-padrao: 'Josefin_Sans', sans-serif;
    --fonte-titulos: "Righteous", sans-serif;
    --fonte-a-navbar: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #DBD5D3;
}

.row{
    margin: 0;
}

#horizontal-bar{
    width: 100vw;
    height: 35vh;
    max-height: 150px;
    background-color: #DB6163;
}

h1{
    color: var(--cor1);
    font-size: 35px;
    /* font-family: "Josefin_Sans variant0", sans-serif; */
    font-family: var(--fonte-titulos);
}

/*--------------------NAVBAR---------------------*/
#navbar-img img{
    width: 50px;
}

#navbarNav{
    justify-content: flex-end;
    padding: 2px 0; 
    border: none;
}

@media (max-width: 992px){
    #navbarNav{
        background-color: var(--cor-navbar-condensada);
        padding: 2px 8px;
        border: 2px solid #0000001f;
    }
}

#navbarNav a{
    font-family: var(--fonte-a-navbar);
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

#navbarNav a:hover{
    color: var(--cor-navbar-hover);
    cursor: pointer;
}

header{
    background-color: var(--cor-navbar);
    box-shadow: rgba(14, 30, 37, 0.09) 0px 2px 4px 0px, rgba(14, 30, 37, 0.11) 0px 2px 16px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul#navbar-ul li{
    margin: 0 10px;
}

/* -------------------- CONTEÚDO -------------------- */

#conteudo{
    max-width: 1000px;
    background-color: var(--cor-conteudo);
    border: 15px solid #fcf7f6c4;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.18) 0px 2px 16px 0px;
}

main#conteudos{
    min-height: 500px;
    margin-top: 105px;
}

aside#lateral{
    background-color: var(--cor-aside-lateral);
    border: 15px solid #db84720c;
    box-shadow: rgba(50, 50, 93, 0.45) 0px 2px 5px -1px, rgba(0, 0, 0, 0.7) 0px 1px 3px -1px;
}

#lateral, #conteudo{
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 0.5px;
}

@media (min-width: 992px){
    aside#lateral {
        max-width: 450px;
    }
}

#txtBuscar{
    color: var(--cor-navbar-hover);
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    font-family: var(--fonte-a-navbar);
}
/* -------------------------------------------------- */

.submit-lente {
    position: relative;
    top: -38px;
    right: 0px;
    height: 38px;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    width: 32px;
  }
  
  .submit-line {
    position: relative;
    /* width: 200px; */
  }
  
  .submit-line input {
    width: 100%;
    padding-left: 32px;
  }